.policy-details {
    width: 60%;
    padding: 0 40px 40px 40px;
    
    md-input-container {
      width: 320px;
      font-size: 20px;
    }
    
    .md-button {
      font-size: 20px;
      height: 56px;
      width: 220px;
    }
}