<div  layout="row" flex layout-padding>
  	<md-content layout="column" layout-align="start center" layout-wrap layout-fill>
		<div class="policy-details" md-whiteframe="2">
			<div layout="column" layout-padding ng-repeat="policy in vm.policy">
				<h1>Policy Information</h1>
				<div>
					<md-input-container flex>
						<label>Policy Number</label>
						<input ng-model="policy.policyNumber">
					</md-input-container>
					<md-input-container flex>
						<label>Coverage</label>
						<input ng-model="policy.coverage">
					</md-input-container>
				</div>

				<h1>Contact Information</h1>
				<div>
					<md-input-container flex>
						<label>First Name</label>
						<input ng-model="policy.firstName">
					</md-input-container>
					<md-input-container flex>
						<label>Last Name</label>
						<input ng-model="policy.lastName">
					</md-input-container>
				</div>
				<div>
					<md-input-container flex>
						<label>Email</label>
						<input ng-model="policy.email">
					</md-input-container>
					<md-input-container flex>
						<label>Phone Number</label>
						<input ng-model="policy.phoneNumber">
					</md-input-container>
				</div>
				<h1>Beneficiary Information</h1>
				<div >
					<md-input-container flex>
						<label>First Name</label>
						<input ng-model="policy.beneficiary.firstName">
					</md-input-container>
					<md-input-container flex>
						<label>Last Name</label>
						<input ng-model="policy.beneficiary.lastName">
					</md-input-container>
				</div>
				<div layout="row" layout-padding>
					<md-button class="md-accent md-raised" ng-click="vm.updateInfo()">Save</md-button>
				</div>
			</div>
		</div>
	</md-content>
</div>