<div class="policy-details">
	<div layout="row" layout-padding>
		<md-input-container flex>
			<label>Policy Number</label>
			<input ng-model="">
		</md-input-container>
		<md-input-container flex>
			<label>First Name</label>
			<input ng-model="">
		</md-input-container>
		<md-input-container flex>
			<label>Last Name</label>
			<input ng-model="">
		</md-input-container>
		<md-input-container flex>
			<label>Email</label>
			<input ng-model="">
		</md-input-container>
		<md-input-container flex>
			<label>Phone Number</label>
			<input ng-model="">
		</md-input-container>
	</div>

	<h1>Beneficiary Information</h1>
	<div layout="row" layout-padding>
		<md-input-container flex>
			<label>First Name</label>
			<input ng-model="">
		</md-input-container>
		<md-input-container flex>
			<label>Last Name</label>
			<input ng-model="">
		</md-input-container>
		<md-input-container flex>
			<label>Address</label>
			<input ng-model="">
		</md-input-container>
	</div>

	<div layout="row" layout-padding>
		<md-button class="md-primary md-raised" ng-click="vm.updateInfo()">Update Policy Info</md-button>
	</div>

</div>