.my-profile {
  height:100%;

  .my-profile-content {
    padding:64px;
  }


  md-sidenav {
    height: 100%;
    width: 240px;
    background: rgb(55,71,79);

    > md-content {
      height:100%;
      background: rgb(55,71,79);
      margin-top: 40px;
    }

    md-list {
      height:100%;
      margin-top:32px;
      md-list-item {
        .md-button {
          display:flex;
          align-items: center;
          padding:0px 20px;
          width:100%;
          margin:0;
          color: rgba(255, 255, 255, 0.56);
          font-weight: 500;
          line-height:56px;
          border-radius:0px;
          &:hover {
            background-color: #ffab40;
            color: #37474f;
          }
          i {
            font-size:24px;
            margin-right:10px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}