.header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 9999;
  background: #fff;


  ul {
    li > .md-unselected {
      color: #FBE9E7 !important;

      &:hover {
        color: rgb(255,171,64) !important;
      }
    }
  }

  .md-nav-bar {
    background: #263238;
    border: none;
    height:84px;
  }

  .md-button._md-nav-button {
    line-height:55px;
    font-size:18px;
  }

  .pa-nav-item-name {
    font-size:20px;
    margin-right:48px;
    i {
      margin-right:8px;
    }
  }


}
