<div class="register-policy">
  <md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <ul class="breadcrumb">
          <li><a ng-class="{'breadcrumb-active': vm.states[vm.stateIndex] === vm.states[0]}">Registration</a></li>
          <li><a ng-class="{'breadcrumb-active': vm.states[vm.stateIndex] === vm.states[1]}">Verification</a></li>
          <li><a ng-class="{'breadcrumb-active': vm.states[vm.stateIndex] === vm.states[3]}">Review</a></li>
        </ul>
      </div>
    </md-toolbar>
  </md-content>

  <div class="register-policy-container">
    <div class="box-header" ng-show="vm.states[vm.stateIndex] === vm.states[0]">
      <div class="box-title"><i class="fa fa-search"></i> Policy Lookup</div>
      <div class="box-desc">Please provide the following details about your insurance policy.  This information should match what is shown on your Insurance Policy documents.  All fields are required. </div>
    </div>
    <div class="box-header" ng-show="vm.states[vm.stateIndex] === vm.states[1]">
      <div class="box-title"><i class="fa fa-universal-access"></i> Verify Identity</div>
      <div class="box-desc">Next step is to verify we are communicating with the person listed on the insurance policy.  Please select to receive either a SMS Text Message or an Email to verify your identify.</div>
    </div>
    <div class="box-header" ng-show="vm.states[vm.stateIndex] === vm.states[2]">
      <div class="box-title"><i class="fa fa-universal-access"></i> Verify Identity</div>
      <div class="box-desc">Almost there... you should have received an SMS Text Message with a Verification Code shown.  Please enter the code in the message in the box below.</div>
    </div>
    <div class="box-header" ng-show="vm.states[vm.stateIndex] === vm.states[3]">
      <div class="box-title"><i class="fa fa-eye"></i> Review Policy Info</div>
      <div class="box-desc">We found your policy!  Now to confirm the information is correct and matches what is on your policy documents.  If all is good then we are done and welcome to Policy Alert!</div>
    </div>
    <div ng-show="vm.states[vm.stateIndex] === vm.states[0]">
      <div md-whiteframe="2" class="register-policy-submit">
        <form layout="column" name="submitPolicyFrm" ng-submit="vm.registerPolicy()" novalidate>

          <div class="left" flex-gt-sm="50">
            <h2>Your Information</h2>
          <md-input-container>
            <label>Last Name</label>
            <input required name="lastName" type="text" ng-model="vm.policyToRegister.lastName"/>
            <ng-messages for="submitPolicyFrm.lastName.$error">
              <ng-message when="required">This is required.</ng-message>
            </ng-messages>
          </md-input-container>

          <md-input-container>
            <label>Date of Birth</label>
            <input required name="birthDate" type="text" ng-model="vm.policyToRegister.birthDate"/>
            <div class="hint">MM/DD/YYYY</div>
          </md-input-container>
            </div>

          <div class="right" flex-gt-sm="50">
            <h2>Policy Information</h2>
          <md-input-container>
            <label>Carrier</label>
            <md-select required name="carrier" ng-model="vm.policyToRegister.carrier">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="carrier in vm.carriers" ng-value="carrier">
                {{ carrier }}
              </md-option>
            </md-select>
            <ng-messages for="submitPolicyFrm.carrier.$error">
              <ng-message when="required">This is required.</ng-message>
            </ng-messages>
          </md-input-container>


          <md-input-container >
            <label>Policy Number</label>
            <input required name="policyNumber" type="text" ng-model="vm.policyToRegister.policyNumber"/>
            <ng-messages for="submitPolicyFrm.policyNumber.$error">
              <ng-message when="required">This is required.</ng-message>
            </ng-messages>
          </md-input-container>
          </div>

          <div class="action-buttons" layout="row" layout-align="space-between">
            <md-button class="md-primary md-link pa-btn-secondary" ng-click="vm.cancelRegistration()">
              Back
            </md-button>
            <md-button type="submit" class="md-accent md-raised" ng-click="registerPolicy()" ng-disabled="!submitPolicyFrm.$valid">
              Next <i class="fa fa-arrow-right"></i>
            </md-button>
          </div>

        </form>
      </div>
    </div>

    <div layout="column" ng-show="vm.states[vm.stateIndex] === vm.states[1]">
      <div md-whiteframe="2" class="register-policy-identity">
        <form ng-submit="vm.sendIdentityOption()" layout="column" layout-align="center center" layout-fill flex novalidate>
          <h2>Choose verification option:</h2>
          <md-radio-group ng-model="vm.identityChoice">

            <md-radio-button ng-value="vm.identity.email" class="md-primary">{{vm.identity.email}}</md-radio-button>
            <md-radio-button ng-value="vm.identity.phoneNumber">{{vm.identity.phoneNumber}}</md-radio-button>

          </md-radio-group>

          <div class="action-buttons" layout="row" layout-align="space-between">
            <md-button class="md-accent md-link pa-btn-secondary" ng-click="vm.back()">
              Back
            </md-button>
            <md-button type="submit" class="md-accent md-raised" ng-click="sendIdentityOption()" ng-disabled="!vm.identityChoice">
              Send
            </md-button>
            </div>
        </form>
      </div>
    </div>

    <div layout="column" layout-align="center center" layout-wrap layout-fill flex ng-show="vm.states[vm.stateIndex] === vm.states[2]">
      <div md-whiteframe="2" class="register-policy-verification">
        <form style="padding-right:0px" name="securityCodeFrm" ng-submit="vm.verifyCode()" layout="column" layout-align="center center" layout-fill flex novalidate>
          <h2>Enter Verification Code</h2>
          <md-input-container >
            <label>Verification Code</label>
            <input required name="code" type="text" ng-model="vm.verificationCode"/>
            <ng-messages for="securityCodeFrm.code.$error">
              <ng-message when="required">This is required.</ng-message>
            </ng-messages>
          </md-input-container>

          <div class="action-buttons" layout="row" layout-align="space-between">
            <md-button class="md-accent md-link pa-btn-secondary" ng-click="vm.back()">
              Back
            </md-button>
            <md-button type="submit" class="md-accent md-raised" ng-disabled="!vm.verificationCode">
              Next <i class="fa fa-arrow-right"></i>
            </md-button>
          </div>


        </form>
      </div>
    </div>

    <div layout="column" layout-align="start center" layout-wrap layout-fill flex ng-show="vm.states[vm.stateIndex] === vm.states[3]">
      <div md-whiteframe="2" class="register-policy-review">
        <form name="agreementFrm" ng-submit="vm.agreeToPolicy()">

          <div class="review-section">
            <h1>Policy Info</h1>
            <div layout="row">
              <div class="policy-field">
                <label>Policy Type</label>
                <div>{{ vm.policy.type }}</div>
              </div>
              <div class="policy-field">
                <label>Coverage Amount</label>
                <div>{{ vm.policy.coverage | currency }}</div>
              </div>
            </div>
          </div>

          <div class="review-section">
            <h1>Personal Info</h1>
            <div layout="row">
              <div class="policy-field">
                <label>First Name</label>
                <div>{{ vm.policy.firstName }}</div>
              </div>
              <div class="policy-field">
                <label>Last Name</label>
                <div>{{ vm.policy.lastName }}</div>
              </div>
            </div>

          <div layout="row">
            <div class="policy-field">
              <label>Phone</label>
              <div>{{ vm.policy.phoneNumber }}</div>
            </div>
            <div class="policy-field">
              <label>Email</label>
              <div>{{ vm.policy.email }}</div>
            </div>
          </div>


          <div layout="row">
            <div class="policy-field">
              <label>Address Line 1</label>
              <div>{{ vm.policy.addressLine1 }}</div>
            </div>
            <div class="policy-field">
              <label>Address Line 2</label>
              <div>{{ vm.policy.addressLine2 }}</div>
            </div>
          </div>

          <div layout="row">
            <div class="policy-field">
              <label>City</label>
              <div>{{ vm.policy.city }}</div>
            </div>
            <div class="policy-field">
              <label>State</label>
              <div>{{ vm.policy.state}}</div>
            </div>
            <div class="policy-field">
              <label>Zip</label>
              <div>{{ vm.policy.zip }}</div>
            </div>
          </div>
          </div>

          <div class="review-section">
            <h1>Beneficiaries</h1>
            <div layout="row">
              <div class="policy-field">
                <label>Beneficiary's First Name</label>
                <div>{{ vm.policy.beneficiary.firstName }}</div>
              </div>
              <div class="policy-field">
                <label>Beneficiary's Last Name</label>
                <div>{{ vm.policy.beneficiary.lastName }}</div>
              </div>
            </div>
          </div>



          <div class="action-buttons" layout="row" style="margin-top:32px">
            <md-button type="submit" class="md-accent md-raised">
              Accept <i class="fa fa-check"></i>
            </md-button>
            <md-button class="md-accent md-link pa-btn-secondary" ng-click="vm.cancelRegistration()">
              Not Now
            </md-button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>